@using MePague.Models
@model MePague.Models.Usuario
@{
    ViewBag.Title = "Criar usuário";
    SelectList status = ViewBag.Status;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar usuário</h2>

@using (Html.BeginForm("Add", "Usuario", FormMethod.Post))
{
    <fieldset>
        <div>
            @Html.LabelFor(model => model.cliente.nome, null, new { @class="col-sm-5" })
            @Html.TextBoxFor(model => model.cliente.nome, new { @class="form-control col-sm-5" })
        </div>
        <div>
            @Html.LabelFor(model => model.cliente.email, null, new { @class = "col-sm-5" })
            @Html.TextBoxFor(model => model.cliente.email, new { @class = "form-control col-sm-5" })
        </div>
        <div>
            @Html.LabelFor(model => model.nome, null, new { @class = "col-sm-5" })
            @Html.TextBoxFor(model => model.nome, new { @class = "form-control col-sm-5" })
        </div>
        <div>
            @Html.LabelFor(model => model.senha, null, new { @class = "col-sm-5" })
            @Html.PasswordFor(model => model.senha, new { @class = "form-control col-sm-5" })
        </div>
        <div>
            @Html.LabelFor(model => model.tipo, null, new { @class = "col-sm-5" })
            @Html.DropDownListFor(model => model.tipo, status, new { @class = "form-control col-sm-5" })
        </div>
        <div class="col-sm-5">
            <input type="submit" value="Criar" class="btn btn-primary"/>
        </div>
    </fieldset>
}